<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ph.ubx.xeatsv4">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".sellerFoodPanelFragment.seller_postdish"> </activity>
        <activity android:name=".Delivery.deliveryVerifyPhone" />
        <activity android:name=".Delivery.deliverySendOtp" />
        <activity android:name=".Delivery.deliveryForgotPassword" />
        <activity android:name=".Delivery.deliveryDashboard" />
        <activity android:name=".Customer.CustomerSendOtp" />
        <activity android:name=".Customer.customerForgotPassword" />
        <activity android:name=".Customer.customerDashboard" />
        <activity android:name=".Customer.customerVerifyPhone" />
        <activity android:name=".Seller.sellerSendOtp" />
        <activity android:name=".Seller.sellerForgotPassword" />
        <activity android:name=".Seller.sellerDashboard" />
        <activity android:name=".Seller.sellerVerifyPhone" />
        <activity android:name=".Delivery.deliveryRegistration" />
        <activity android:name=".Delivery.deliveryLoginPhone" />
        <activity android:name=".Delivery.deliveryLoginEmail" />
        <activity android:name=".Customer.customerRegistration" />
        <activity android:name=".Customer.customerLoginPhone" />
        <activity android:name=".Customer.customerLoginEmail" />
        <activity android:name=".Seller.sellerRegistration" />
        <activity android:name=".Seller.sellerLoginPhone" />
        <activity android:name=".Seller.sellerLoginEmail" />
        <activity android:name=".ChooseOne" />
        <activity android:name=".MainMenu" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>