<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ph.ubx.xeatsv4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Customer.CustomerSendOtp"></activity>
        <activity android:name=".Customer.customerForgotPassword" />
        <activity android:name=".Customer.customerDashboard" />
        <activity android:name=".Customer.customerVerifyPhone" />
        <activity android:name=".Seller.sellerSendOtp" />
        <activity android:name=".Seller.sellerForgotPassword" />
        <activity android:name=".Seller.sellerDashboard" />
        <activity android:name=".Seller.sellerVerifyPhone" />
        <activity android:name=".Delivery.deliveryRegistration" />
        <activity android:name=".Delivery.deliveryLoginPhone" />
        <activity android:name=".Delivery.deliveryLoginEmail" />
        <activity android:name=".Customer.customerRegistration" />
        <activity android:name=".Customer.customerLoginPhone" />
        <activity android:name=".Customer.customerLoginEmail" />
        <activity android:name=".Seller.sellerRegistration" />
        <activity android:name=".Seller.sellerLoginPhone" />
        <activity android:name=".Seller.sellerLoginEmail" />
        <activity android:name=".ChooseOne" />
        <activity android:name=".MainMenu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>